body{
margin: 0;
display: flex;
align-items: center;
justify-content: flex-end;
height: 100vh;
}

@keyframes shake {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

/*styling and position for the close button-----*/
.feedback-button{
/*position of close button*/
padding: 10px;
font-size: 16px;
margin: -35px;
background-color:#006eb6 ;
transform: rotate(90deg);
/*style of close button*/
border-radius: 8px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #ffffff;
cursor: pointer;
}

.feedback-button-active{
    animation: shake 0.5s;
}




/*Styling and Effect for Star Selection-----*/
.stars-hidden{
    display:none;
}
.star {
    color: white;
    font-size: 2em;
}
.star.hovered {color: gold;}

.stars{
    margin-top: 0;
    margin-bottom: 10px;
}
.star.selected{
    color: gold;
}





/*Styling of text areas for email and Feedback----*/
#feedbackForm textarea,
#feedbackForm input{
    display: block;
    border: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* Styling for div class "rating-widget"---- */
.rating-widget-hidden {
    display: none;   
}
.rating-widget {
    background-color: #006eb6;
    padding: 20px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
}

/*Styling for "Submit" button----*/
#submitFeedback{
    background-color:white;
    border: none;
    border-radius: 8px
}



/*Styling of "Next" button----*/
#nextSelection{
    display: none;
    margin-top: 10px;
}