body{
margin: 0;
display: flex;
align-items: center;
justify-content: flex-end;
height: 100vh;
}

/*styling and position for the close button-----*/
.feedback-button{
/*position of close button*/
padding: 10px;
font-size: 16px;
margin: -35px;
background-color:#006eb6 ;
transform: rotate(90deg);
/*style of close button*/
border-radius: 8px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #ffffff;
cursor: pointer;
}
/*styling and position for the close button-----*/



/*Styling and Effect for Star Selection-----*/
.stars-hidden{
    display:none;
}
.star {
    color: grey;
}
.star.hovered {color: gold;}

.stars{
    margin-bottom: 10px;
}
/*Styling and Effect for Star Selection-----*/



/* Styling for div class "rating-widget"---- */
.rating-widget-hidden {
    display: none;   
}
.rating-widget {
    background-color: #006eb6;
    padding: 20px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
}
/* Styling for div class "rating-widget"---- */



#nextSelection{
    margin-top: 10px;
}