body{
margin: 0;
display: flex;
align-items: center;
justify-content: flex-end;
height: 100vh;
}



/*styling and position for the close button-----*/
.feedback-button{
/*position of close button*/
animation: slide;
padding: 10px;
font-size: 16px;
margin: -35px;
background-color:#006eb6 ;
transform: rotate(90deg);
/*style of close button*/
border-radius: 8px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #ffffff;
cursor: pointer;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);


animation: shake 5s ease-in-out infinite; 
}
@keyframes shake {
    0%, 16.67% { transform: rotate(90deg) translateY(0); }
    4.17%, 12.5% { transform: rotate(90deg) translateY(-5px); }
    8.33% { transform: rotate(90deg) translateY(0); }
    20.83%, 100% { transform: rotate(90deg) translateY(0); }
}

#feedback{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    resize: none;
    font-family: sans-serif;
}

#email{
    border-radius: 10px;
    font-family: sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}



/*Styling and Effect for Star Selection-----*/
.stars-hidden{
    display:none;
}
.star {
    color: #006eb6;
    text-shadow: -1px 0 gold, 0 1px gold, 1px 0 gold, 0 -1px gold;
    font-size: 3em; 
}
.star.hovered {
    transform: scale(1.2);
    color: gold;}


.stars{
    margin-top: -20px;
    margin-bottom: 8px;
}
.star.selected{
    color: gold;
}





/*Styling of text areas for email and Feedback----*/
#feedbackForm textarea,
#feedbackForm input{
    display: block;
    border: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


#feed-button{
    animation: slide;
}



/* Styling for div class "rating-widget"---- */
.rating-widget-hidden {
    display: none; 
}
.rating-widget {
    background-color: #006eb6;
    padding: 20px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#selectedRating {
    display: none;
    font-size: medium;
}


/*Styling for "Submit" button----*/
#submitFeedback{
    margin-top: 10px;
    margin-left: 95px;
    color: #006eb6;
    border: 2px solid #006eb6 ;
    font-size: large;
    background-color:white;
    border: none;
    border-radius: 10px;
}




/*Styling of "Next" button----*/
#nextSelection{
    display: none;
    margin-top: 10px;
}

/*Style for Thank you message----*/
#thankYou{
    
    border-radius: 8px;
    padding: 10px;
    background-color: #006eb6;
    font-size: 20px;
    color: gold;
    font-family: sans-serif;
    margin-top: 100px;
}
